p {
    color: rgb(140, 135, 135);
    font-size: x-small;
    margin-top: 0px;
}

input {
    margin: 5px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    
}

button {
    margin: 3px;
    padding-top: 3px;
    background-color: rgb(145, 133, 133);
}

.form {
    width: 400px;
    height: 400px;
    background-color: gainsboro;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
